In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler # MinMaxScaler:-that the fn that helps us to do normalisation
data=[[-1,2],[-0.5,6],[0,10],[1,18]]
scalar=MinMaxScaler()
scaled_value=pd.DataFrame(scalar.fit_transform(data),columns=['col1','col2'])
scaled_value

   col1  col2
0  0.00  0.00
1  0.25  0.25
2  0.50  0.50
3  1.00  1.00

In [2]:
from sklearn.preprocessing import StandardScaler
data=[[-1,2],[-0.5,6],[0,10],[1,18]]
std_scalar=StandardScaler()
stdscaled_value=pd.DataFrame(std_scalar.fit_transform(data),columns=['colum1','column2'])
stdscaled_value

     colum1   column2
0 -1.183216 -1.183216
1 -0.507093 -0.507093
2  0.169031  0.169031
3  1.521278  1.521278

In [5]:
from sklearn.preprocessing import scale
from sklearn.preprocessing import StandardScaler
data=[[-1,2],[-0.5,6],[0,10],[1,18]]
scaled_value=pd.DataFrame(scale(data),columns=['colum1','column2'])
scaled_value

     colum1   column2
0 -1.183216 -1.183216
1 -0.507093 -0.507093
2  0.169031  0.169031
3  1.521278  1.521278